.app-container {  
  color: white;
  width: 100%;
  background-color: var(--kitty-black);
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "section-1 section-1 section-1 section-1 section-1"
    "section-2 section-2 section-2 section-2 section-2"
    "section-3 section-3 section-3 section-3 section-3"
    "section-4 section-4 section-4 section-4 section-4"
    "section-5 section-5 section-5 section-5 section-5";
}

.section-1 {  
  position: relative;
  height: 67.5rem;
  grid-area: section-1; 
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto 1.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "center center center bg bg"
    "center center center bg bg";
}

.center {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo-home logo-home logo-home"
    "buttons buttons buttons"
    ". . .";
  grid-area: center;
  position: relative;
  height: 67.5rem;
}

.logo-home { 
  grid-area: logo-home;
  position: relative;
  height: 40.625rem;
  margin-top: 6.25rem;
  z-index: 0;;
};


.bg { 
  grid-area: bg; 
  position: relative;
  height: 67.5rem;
  margin-top: 6.25rem;
  z-index: -1;
}

.logo-home img {
  width: 130%;
  height: 100%;
}

.bg img {
  width: 100%;
  height: 100%;
}


.buttons {
  position: absolute;  
  top: 30rem;           
  display: flex;
  gap: 0.625rem;
  justify-content: left;
  align-items: center;
  z-index: 2;          
  margin-left: 6.25rem;
}

.sign-up-button,
.sign-in-button {
  width: 15.625rem;
  height: 3.125rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
  border-width: 0.125rem;
}

.sign-up-button {
  background-color: var(--kitty-black);
  border-color: var(--kitty-yellow);
  color: var(--kitty-yellow);
}

.sign-in-button {
  background-color: var(--kitty-yellow);
  border-color: var(--kitty-black);
  color: var(--kitty-black);
}


.section-2 {  
  grid-area: section-2;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "text text info info"
    "image image info info"
    "image image info info";
  height: 37.5rem;
  margin-left: 9.375rem;
}

.text { 
  grid-area: text; 
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 4.375rem;
  margin-top: 1.25rem;
  width: 37.5rem;
}

.image { 
  grid-area: image; 
  height: 31.25rem;
  width: 37.5rem;
}

.image img {
  width: 37.5rem;
  height: 37.5rem;
}

.info {  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-flow: row;
  grid-template-areas:
    "sec1 sec1"
    "sec2 sec2"
    "sec3 sec3";
  grid-area: info;
  height: 46.875rem;
  width: 37.5rem;
  gap: 0.938rem;
}

.info h1{
  color: var(--kitty-yellow);
  font-size: 3.125rem;
  text-align: left;
}

.info p{
  color: white;
  font-size: 1.875rem;
  text-align: left;
}

.sec1 { 
  grid-area: sec1; 
  height: 15.625rem;
}

.sec2 { 
  grid-area: sec2;
  height: 15.625rem; 
}

.sec3 { 
  grid-area: sec3; 
  height: 15.625rem;
}


.section-3 {
  grid-area: section-3;  
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "panels panels panels"
    "panels panels panels"
    "explore explore explore";
  width: 75rem;
  height: 62.5rem;
  margin-left: 9.375rem;
  margin-top: 25rem;
}

.panels {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.625rem;
  grid-auto-flow: row;
  grid-template-areas:
    "first-panel second-panel third-panel"
    "first-panel second-panel third-panel"
    "first-panel second-panel third-panel";
  grid-area: panels;
  height: 25rem;
}

.first-panel { grid-area: first-panel; }

.second-panel { grid-area: second-panel; }

.third-panel { grid-area: third-panel; }

.first-panel img,
.second-panel img,
.third-panel img {
  width: 25rem;
  height: 25rem;
}

.first-panel h1,
.second-panel h1,
.third-panel h1 {
  color: white;
  font-size: 3.125rem;
  text-align: center;
  width: 21.875rem;
  margin-left: 1.563rem;
}

.first-panel p,
.second-panel p,
.third-panel p {
  color: white;
  font-size: 1.25rem;
  text-align: center;
  width: 18.75rem;
  margin-left: 3.125rem;
}


.explore { grid-area: explore; }

.explore button{
  width: 15.625rem;
  height: 3.125rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
  border-width: 0.125rem;
  background-color: var(--kitty-black);
  border-color: var(--kitty-yellow);
  color: var(--kitty-yellow);
}

.section-4 {  
  grid-area: section-4;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "who who who picture"
    "who who who picture"
    "who who who picture";
  background-image: radial-gradient(circle at 0% 0%, #b078bf, #9b5eab, #277d7c, #149f9e);
  height: 31.25rem;
}

.who { 
  margin-left: 9.375rem;
  margin-right: 6.25rem;
  grid-area: who; 
  color: var(--kitty-black);
}

.who h1{
  font-size: 3.125rem;
  text-align: left;
}

.who li{
  font-size: 1.875rem;
  text-align: left;
}

.picture { grid-area: picture; }

.picture img {
  margin-top: 3.125rem;
  margin-right: 9.375rem;
  width: 25rem;
  height: 25rem;
}

.section-5 { 
  grid-area: section-5; 

  margin: 0 auto;
}

.section-5 h1{
  color: var(--kitty-yellow);
  font-size: 3.125rem;
  text-align: center;
}
.section-5 p{
  color: white;
  margin-left: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
}

