.password-entry{
    margin-bottom: 1rem;
}

.password-entry-column{
    height: 2rem;
    vertical-align: middle;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    
}

.password-column-round-left{
    border-radius: 1rem 0 0 1rem;
}

.password-column-round-right{
    border-radius: 0 1rem 1rem 0;
}