:root {
  --kitty-black: #000;
  --kitty-yellow: #e5e900;
  --kitty-green: #046463;
  --kitty-grey: #292929;
  --kitty-purple: #723582;
  --toastify-color-dark: var(--kitty-grey);
  --toastify-text-color-dark: var(--kitty-yellow);
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
}

button {
  cursor: pointer;
  font-family: 'Barlow Condensed', sans-serif;
}