:root {
  --kitty-black: #000;
  --kitty-yellow: #e5e900;
  --kitty-green: #046463;
  --kitty-grey: #292929;
  --kitty-purple: #723582;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
